@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700');
body {
	font-family: 'Roboto Condensed', sans-serif;
}
@media all and (min-width: 1200px) {
	.container {
	    width: 1366px;
	    padding-left: 69px;
	}
}
@mixin margin_for_form {margin-top:22px;}
@mixin h1_settings {
	text-align: center;
	font-size: 40px;
	margin-left: -53px;
	margin-top: 56px;
}
@mixin service_button ($color, $background_color:#fff) {
	border: 1px solid $color;
	border-radius: 5px;
	color: $color;
	font-size: 20px;
	font-weight: lighter;
	text-decoration: none;
	background: $background_color;
	padding: 10px 45px;
}
$orange-color: #FF5210; 
$blue_color: #00475d;
#header {
	height: 630px;
	background: #330b66;
	background: -moz-linear-gradient(left, #330b66 0%, #2fcbcd 100%);
	background: -webkit-linear-gradient(left, #330b66 0%,#2fcbcd 100%);
	background: linear-gradient(to right, #330b66 0%,#2fcbcd 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#330b66', endColorstr='#2fcbcd',GradientType=1 );
	color: #fff;
	padding-top: 42px;
	.left-logo {
		img {
			vertical-align: top;
		}
	}
	.logo-text {
		display: inline-block;
	    width: 200px;
	    margin-left: 13px;
	    margin-top: 5px;
	    line-height: 15px;	
		span {
			font-size: 12px;
		}
	}
	.enrollment {
		h1 {
			margin-top: 37px;
			font-size: 50px;
			font-weight: bold;	
			white-space: nowrap;
		}
		h2 {
			font-size: 35px;
    		font-weight: 300;
    		margin-left: 136px;
    		margin-top: -15px;
		}
		.entry-form {
			width: 376px;
			height: 262px;
			background: rgba(0, 0, 0, 0.5); 
			margin-left: 179px;
			margin-top: 46px;
			.form-panel {
				text-align: center;
				label {
					@include margin_for_form;
					font-weight: normal;
					font-size: 16px;
				}
				input[type="text"] {
					margin: 0 auto;
					display: block;
					background: rgba(0, 0, 0, 0); 
					border: 1px solid #24E7FE;
					border-radius: 5px;
					padding: 10px;
					width: 228px;
					margin-top: 17px;
					&:nth-child(3) {margin-top: 25px;}
					&::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease; font-family: 'Roboto Condensed', sans-serif; text-align: center;}
					&::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease; font-family: 'Roboto Condensed', sans-serif; text-align: center;}
					&:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease; font-family: 'Roboto Condensed', sans-serif; text-align: center;}
					&:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease; font-family: 'Roboto Condensed', sans-serif; text-align: center;}
					&:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
					&:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
					&:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
					&:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}
				}
				.entry-btn	{
					margin: 0 auto;
					margin-top: 35px;
					a {
						color: #fff;
						text-decoration: none;
						font-size: 20px;
						background-color: $orange-color;
						padding: 11px 67px;
						border-radius: 5px;
					}
				}
				.eneo-more {
					font-size: 16px;
					font-weight: lighter;
					width: 376px;
    				margin-top: 43px;
					a {
						color: #30AEBE;
					}
					

				}
			}
		}
	}
	.right-phone {
		margin-top: -5px;
		span {
			font-size: 20px;
			margin-left: 28px;
		}
		.orange-btn {
    		margin: 14px 0 0 29px;
			a {
				padding: 6px 24px;
				color: #fff;
				text-decoration: none;
				font-size: 16px;
				border-radius: 3px;
				background-color: $orange-color;
			}
		}
	}
	.couch-photo {
		position: relative;
		width: 348px;
		height: 418px;
		background: rgba(0, 0, 0, 0.5);
		margin-top: 111px;
		margin-left: -52px;
		border-top-left-radius: 21%;
		border-top-right-radius: 21%;
    	.couch-img {
    		position: absolute;
    		top: 152px;
    		left: 41px;
    		span {
	    		font-size: 50px;
	    		font-weight: bold;
    		}
    	}
		.couch-sign {
			position: absolute;
			top: 262px;
			left: 21px;
			text-align: center;
			span {
				font-size: 22px;
			} 
		}
	}
}
#how-you-get {
	h1 {
			@include h1_settings;
		}
	ul {
		list-style-type: none;
		padding: 29px 0 0 25px;
		margin: 0;
		li {
			position: relative;
			width: 368px;
			height: 260px;
			display: inline-block;
			text-align: center;
			margin-right: 45px;
			border-radius: 3px;
			.gray-box {
				width: 100%;
				height: 100%;
				position: absolute;
				background: rgba(0, 0, 0, 0.44);
				border-radius: 3px;
			}
			span {
				font-size: 25px;
				font-weight: lighter;
				color: #fff;
				width: 96%;
				height: 40%;
				margin: auto;
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
			}
			&:nth-child(1) {
				background: url(/img/9b18cfacd16f489c553d3382400478d5.jpg) no-repeat;
				background-size: 113%;
    			background-position: -14px 80%;
				margin-bottom: 48px;
			}	
			&:nth-child(2) {
				background: url(/img/dce66152dc1.jpg) no-repeat;
				background-size: 110%;
				background-position: 86%;
				margin-bottom: 48px;
				width: 376px;
			}
			&:nth-child(3) {
				background: url(/img/imagem-1.jpg) no-repeat;
				background-size: cover;
				margin-bottom: 48px;
			}
			&:nth-child(4) {
				background: url(/img/4323a9497a14ef99a514bd8b7c8ed52f.jpg) no-repeat;
				background-size: cover;
				background-position: 28%;
			}
			&:nth-child(5) {
				background: url(/img/ozenka_p_2.jpg) no-repeat;
				background-size: cover;
			    background-position: 100%;
				width: 376px;
			}
			&:nth-child(6) {
				background: url(/img/ite-mutluluk5.jpg) no-repeat;
				background-size: cover;
			}
		}
	}
	.btn-orange-border {
		text-align: center;
		margin: 32px 0 0 -57px;
		a {
			@include service_button ($orange-color)
		}
	}
}

#how-get-yet {
		h1 {
			@include h1_settings;
			margin-top: 80px;
		}
		img {
			width:  348px;
			height: 262px;
			object-fit: cover;
			border-radius: 3px;
		}
		

		.row {
			img {
				float: left;
				margin: 25px 0 0 74px;
			}
			h3 {
				font-size: 25px;
				margin-left: 440px;
			}
			ul {
				margin-left: 409px;
				li {
					font-size: 16px;
				}
			}
			&:nth-child(2n-1) {
				h3 {
					text-align: right;
					margin-left:0;
					position: relative;
					left: 44px;
				}
				img {
					float: right;
					margin-right: 127px;
				}
				ul {
					float: right;
					margin-left:0;
					position: relative;
					left: -5px;
				}

			}
			&:nth-child(2) {
				margin-bottom: 86-25px;
			}
			&:nth-child(3) {
				margin-bottom: 76-25px;
			}
			&:nth-child(4) {
				margin-bottom: 99-25px;
			}
			&:nth-child(5) {
				h3 {
					left: -166px;
				}
				ul {
					left: 50px;
				}
			}
		}
		.btn-orange-border {
			text-align: center;
			margin: 76px 0 0 -57px;
			a {
				@include service_button ($orange-color);
				padding-left: 52px;
				padding-right: 52px;
			}
		}
}
#our-masters {
	h1 {
		@include h1_settings;
		color: #5D5D5D;
		font-weight: lighter;
		line-height: 40px;
		margin-left: -56px;
		margin-top: 94px;
	}
	.container {
		text-align: center;
	}
	ul {
		margin-left: -8px;
        margin-top: 71px;
		padding: 0;
	}
	li {
		
		list-style-type: none;
		text-align: center;
		display: inline-block;
		width: 368px;
		height: 190px;
		vertical-align: bottom;
		margin-right: 45px;
		img {
			height: 44px;
		}
		h3 {
			font-size: 25px;
			font-weight: lighter;
		}
		h2 {
			font-size: 16px;
			margin-top: 12px;
			line-height: 19px;
		}
		&:last-child {
			text-align: center;
			margin-top: -6px;
			h3 {
				margin-top: 11px;
			}
		}
	}
	.down-arrow {
	    margin: -5px 0 49px -65px;
	}
}
#exp-couching {
	background-color: #555555;
	color: white;
	font-size: 15px;
	line-height: 20px;
	.content-wrapper {
	    margin: 46px 0 0 193px;
	}
	h1 {
		font-size: 40px;
		color: yellow;
	    margin: -7px 0 17px 0;	
	}
	p {
	    letter-spacing: 0.03em;
	}
	img {
		vertical-align: top;
	}
	ul {
		display: inline-block;
		list-style-type: none;
		margin: 0;
		padding-left: 27px;
		h4 {
			font-size: 20px;
		    line-height: 0.8;
		}
		figure {
			margin: 0;
			img {
				margin-left: 119px;
			}
			figcaption {
				font-size: 16px;
			}
		}
		.couch-1 {
			figure {
				img {
					margin-top: 14px;
					margin-bottom: 12px;
				}
			}
		}
		.couch-2 {
			figure {
				img {
					margin-top: 3px;
					margin-bottom: 13px;
					margin-left: 122px;
				}
			}
		}
		.couch-3 {
			figure {
				img {
					margin-top: 14px;
					margin-bottom: 17px;
				}
			}
		}
		.couch-4 {
			figure {
				img {
					margin-top: 9px;
					margin-bottom: 10px;
					margin-left: 122px;
				}
				figcaption {
				    line-height: 1.2;
				}
			}
		}
	}
	.row {
		&:nth-child(2) {
			margin-top: 6px;
			h4 {
				margin: 0;
			}
		}
	}
	.btn-white-border {
		text-align: center;
	    margin: 61px 0 62px 259px;
		a {
			@include service_button (#fff, none);
			padding-left: 46px;
			padding-right: 46px;
		}
	}
}
#videos-photos {
	.videos {
		h1 {
			@include h1_settings;
			color: #5e5e5e;
			margin-left: -51px;
			margin-top: 42px;
		}
		.video-block {
			width: 750px;
		    margin: -4px 0 0 257px;
		}
		iframe {
			margin-right: 18px;
			margin-bottom: 14px;
		}
		.btn-blue-border {
			text-align: center;
	        margin: 18px 0 62px -54px;
			a {
				@include service_button ($blue-color, none);
				padding-left: 58px;
				padding-right: 58px;
			}
		}
	}
	.photos {
		h1 {
			@include h1_settings;
			color: #5e5e5e;
			margin-left: -52px;
			margin-top: -9px;
			margin-bottom: 21px;
			font-weight: 300;
		}
		.photos-block {
			width: 1080px;
			height: 650px;
			font-size: 0;
		    margin-left: 80px;
			div {
				border: 0;
				display: inline-block;
				width: 535px;
				height: 320px;
			}
			.img1 {
				background-color: #83355e;
			}
			.img2 {
				background-color: #18234b;
			}
			.img3 {
				background-color: #50b09b;
			}
			.img4 {
				background-color: #99c45a;
			}
		}
		.btn-blue-border {
			text-align: center;
            margin: 29px 0 62px -53px;
			a {
				@include service_button ($blue-color, none);
				padding-left: 70px;
				padding-right: 70px;
			}
		}
	}
}
#entry-to-class {
	.left-col {
		display: inline-block;
		margin-left: -20px;
		width: 435px;
		vertical-align: top;
		h4 {
			font-size: 20px;
			font-weight: 700;
		}
		p {
			font-size: 16px;
		}
	}
	.entry-form {
		display: inline-block;
		width: 376px;
		height: 316px;
		background: #152E50; 
		margin-left: 8px;
		margin-top: 17px;
		color: #fff;
		.form-panel {
			text-align: center;
			label {
				margin-top: 22px;
				font-weight: 700;
				font-size: 20px;
				text-align: left;
				margin-left: -26px;
				margin-bottom: 9px;
				line-height: 1.15;
			}
			input[type="text"] {
				margin: 0 auto;
				display: block;
				background: rgba(0, 0, 0, 0); 
				border: 1px solid #3C8FFD;
				border-radius: 5px;
				padding: 10px;
				width: 228px;
				margin-top: 17px;
				&:nth-child(3) {margin-top: 25px;}
				&::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease; font-family: 'Roboto Condensed', sans-serif; text-align: center; color: #fff;}
				&::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease; font-family: 'Roboto Condensed', sans-serif; text-align: center; color: #fff;}
				&:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease; font-family: 'Roboto Condensed', sans-serif; text-align: center; color: #fff;}
				&:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease; font-family: 'Roboto Condensed', sans-serif; text-align: center; color: #fff;}
				&:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
				&:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
				&:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
				&:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}
			}
			.entry-btn	{
				margin: 0 auto;
				margin-top: 35px;
				a {
					color: #fff;
					text-decoration: none;
					font-size: 20px;
					background-color: $orange-color;
					padding: 11px 67px;
					border-radius: 5px;
				}
			}
		}
	}
	.right-col {
		display: inline-block;
		margin-left: 67px;
		vertical-align: top;
		font-size: 16px;
		p {
			&:first-child {
				display: inline-block;
			    margin-top: 47px;
			}
		}
		img {
			position: relative;
			left: 24px;
			top: -12px;
		}
		.discover-more {
			margin: -5px 0 0 125px;
			a {
				color: #0CA2FD;
				font-weight: 700;
			}
		}
	}	
}
#contacts {
	.left-logo {
		margin: 74px 0 0 109px;
		display: inline-block;
		img {
			vertical-align: bottom;
		}
		div {
			display: inline-block;
			margin-left: 22px;
			span {
				font-size: 20px;
			}
		}
	}
	.phone {
		display: inline-block;
		position: relative;
		left: 6px;
		top: 10px;
		span {
			font-size: 20px;
			margin-left: 28px;
		}
		.orange-btn {
    		margin: 14px 0 0 29px;
			a {
				padding: 6px 24px;
				color: #fff;
				text-decoration: none;
				font-size: 16px;
				border-radius: 3px;
				background-color: $orange-color;
			}
		}
	}
	.right-address {
		display: inline-block;
		margin-left: 90px;
		span {
			font-size: 20px;
		}
	}
	iframe {
		border:0; 
		float: right; 
		display: block;
		margin-right: 34px;
    	margin-top: 12px;
	}
}
